@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Onlibrary</h1>
    <p>Browse our library, search for books you love and request a delivery of a hard copy.</p>
</div>
