@model string

<div class="card card-outline-primary m-1 p-1">
    <div class="bg-faded p-1 font-weight-bolder">
        <h3>
           Order passed successfully!
        </h3>
        <h4>OrderId: @Model</h4>
    </div>
    <hr />
</div>